.icon {
  display: block;
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.icon--arrow {
  background-image: url("../img/icons/seta.svg");
  width: 40px;
  height: 40px;
}

.icon--menu {
  background-image: url("../img/icons/menu.svg");
}

.icon--search {
  background-image: url("../img/icons/interface/procurar.svg");
}

.icon--filter {
  background-image: url("../img/icons/interface/filtro.svg");
}

.icon--heart {
  background-image: url("../img/icons/interface/coracao.svg");
}

.icon--fire {
  background-image: url("../img/icons/poke-types/fire.svg");
}

.icon--grass {
  background-image: url("../img/icons/poke-types/grass.svg");
}

.icon--bug {
  background-image: url("../img/icons/poke-types/bug.svg");
}

.icon--water {
  background-image: url("../img/icons/poke-types/water.svg");
}

.icon--poison {
  background-image: url("../img/icons/poke-types/poison.svg");
}

.icon--normal {
  background-image: url("../img/icons/poke-types/normal.svg");
}

.icon--electric {
  background-image: url("../img/icons/poke-types/electric.svg");
}

.icon--steel {
  background-image: url("../img/icons/poke-types/steel.svg");
}

.icon--ground {
  background-image: url("../img/icons/poke-types/ground.svg");
}

.icon--rock {
  background-image: url("../img/icons/poke-types/rock.svg");
}

.icon--fairy {
  background-image: url("../img/icons/poke-types/fairy.svg");
}

.icon--psychic {
  background-image: url("../img/icons/poke-types/psychic.svg");
}

.icon--fighting {
  background-image: url("../img/icons/poke-types/fighting.svg");
}

.icon--flying {
  background-image: url("../img/icons/poke-types/flying.svg");
}

.icon--dragon {
  background-image: url("../img/icons/poke-types/dragon.svg");
}

.icon--ice {
  background-image: url("../img/icons/poke-types/ice.svg");
}

.icon--ghost {
  background-image: url("../img/icons/poke-types/ghost.svg");
}

.icon--dark {
  background-image: url("../img/icons/poke-types/dark.svg");
}
