.icon {
  display: block;
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.icon--arrow {
  background-image: url("../img/icons/seta.svg");
  width: 40px;
  height: 40px;
}

.icon--menu {
  background-image: url("../img/icons/menu.svg");
}
