:root {
  --font-default: sans-serif;
}

.page {
  font-family: var(--font-default);
}

.container-1 {
  padding: 0 1rem;
}

.header--container {
  margin: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__title,
.main__name--poke {
  font-weight: bold;
}

.main__title {
  font-size: 1.9rem;
  margin-bottom: 1rem;
}

.main__subtitle {
  color: #575656;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.main__input--text {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  color: #a5a4a4;
  padding: 1rem;
  padding-left: 3rem;
  border-radius: 14px;
  box-sizing: border-box;
}

.main--container--form {
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  gap: 10px;
}

.main--container--search {
  position: relative;
}

.main__icon--search,
.main__icon--filter {
  width: 20px;
  height: 20px;
}

.main__icon--search {
  position: absolute;
  top: 14px;
  left: 15px;
}

.main--container--filter {
  background-color: #e0e0e0;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main--container--cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 1rem 0;
}

.main__id--poke {
  text-align: right;
  display: block;
  color: rgba(255, 255, 255, 0.5);
}

.main--container--poke {
  border-radius: 14px;
  padding: 0.6rem;
  color: #ffffff;
}

.main--container--pokename {
  display: flex;
  justify-content: space-between;
}

.main--container--pokeinfos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.main--container--pokecontent {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  align-items: center;
  text-align: center;
}

.main__name--poke,
.main__types--poke {
  text-transform: capitalize;
}

.main__icon--type {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.main__name--poke {
  margin-bottom: 0.5rem;
}

.main__image--poke {
  width: 60px;
  height: 60px;
  position: relative;
  z-index: 2;
}

.main--container--pokeimage {
  position: relative;
}

.main__image--pokeball {
  width: 70px;
  height: 70px;
  left: -4px;
  position: absolute;
  z-index: 1;
  opacity: 0.2;
}

.main__types--poke {
  display: flex;
  margin-bottom: 0.4rem;
  background-color: rgba(0, 0, 0, 0.1);
  align-items: center;
  font-size: 0.8rem;
  padding: 0.3rem;
  border-radius: 75px;
}
