.header--container,
.main--container--filter,
.main__types--poke,
.main--container--pokename {
  display: flex;
}

.header--container,
.main--container--filter,
.main__types--poke {
  align-items: center;
}

.header--container {
  justify-content: space-between;
  margin: 1.5rem 0;
}

.main__title {
  font-size: 1.9rem;
}

.main__title,
.main__subtitle {
  margin-bottom: 1rem;
}

.main__subtitle {
  color: #575656;
  font-size: 0.9rem;
}

.main__input--text {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 14px;
  box-sizing: border-box;
  color: #a5a4a4;
  padding: 1rem 1rem 1rem 3rem;
  width: 100%;
}

.main--container--form {
  gap: 10px;
  grid-template-columns: 1fr 0.2fr;
}

.main--container--search {
  position: relative;
}

.main__icon--search,
.main__icon--filter {
  height: 20px;
  width: 20px;
}

.main__icon--search {
  left: 15px;
  position: absolute;
  top: 14px;
}

.main--container--filter {
  background-color: #e0e0e0;
  border-radius: 14px;
  justify-content: center;
}

.main--container--cards,
.main--container--pokeinfos,
.main--container--pokecontent,
.main--container--form {
  display: grid;
}

.main--container--cards,
.main--container--pokeinfos,
.main--container--pokecontent {
  align-items: center;
}

.main--container--cards,
.main--container--pokeinfos {
  grid-template-columns: 1fr 1fr;
}

.main--container--cards {
  gap: 10px;
  justify-content: center;
  padding: 1rem 0;
}

.main__id--poke {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  text-align: right;
}

.main--container--poke {
  border-radius: 14px;
  color: #ffffff;
  padding: 0.6rem;
}

.main--container--poke:hover {
  cursor: pointer;
}

.main--container--pokename {
  justify-content: space-between;
}

.main--container--pokeinfos {
  justify-items: center;
}

.main--container--pokecontent {
  grid-template-rows: 1fr 1fr;
  text-align: center;
  width: 100%;
}

.main__name--poke,
.main__types--poke {
  text-transform: capitalize;
}

.main__icon--type {
  margin-right: 5px;
  height: 20px;
  width: 20px;
}

.main__name--poke,
.main__types--poke {
  margin-bottom: 0.5rem;
}

.main__image--poke {
  height: 60px;
  position: relative;
  width: 60px;
  z-index: 2;
}

.main--container--pokeimage {
  position: relative;
}

.main__image--pokeball {
  position: absolute;
  height: 70px;
  left: -4px;
  opacity: 0.2;
  width: 70px;
  z-index: 1;
}

.main__types--poke {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 75px;
  font-size: 0.8rem;
  padding: 0.3rem;
}
