.poke--container--infos {
  color: #ffffff;
}

.poke--container--name,
.poke--container--image,
.poke__list--type {
  display: flex;
}

.poke--container--name {
  align-items: center;
  justify-content: space-between;
}

.poke__name {
  font-size: 2rem;
  text-transform: capitalize;
}

.poke__name,
.poke__id,
.poke__text,
.poke__subtitle {
  margin-bottom: 1rem;
}

.poke--container--image {
  justify-content: center;
  position: relative;
}

.poke__image {
  width: 70%;
}

.poke__list--type {
  gap: 0.7rem;
}

.poke__image--ball {
  height: 180px;
  opacity: 0.3;
  position: absolute;
  top: 25px;
  width: 180px;
  z-index: -1;
}

.poke--container--data {
  background-color: #ffffff;
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
  padding: 1.5rem 1rem;
}

.poke__list--nav {
  display: grid;
  font-size: 0.9rem;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin-bottom: 2rem;
}

.poke__cell--thead,
.poke__link {
  color: #b3b2b2;
}

.poke__table {
  width: 100%;
}

.poke__cell {
  padding: 0.5rem;
  text-align: center;
}

.poke--container--table {
  border: 1px solid #e4e1e1;
  border-radius: 25px;
  box-shadow: 0px 11px 12px 5px rgba(0, 0, 0, 6%);
  margin: 2rem 0;
  padding: 1rem;
}

.poke__text {
  line-height: 1.2rem;
}

.poke__subtitle {
  font-size: 1.3rem;
}
